<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Landing1</title>
  <link rel="stylesheet" href="./fontawesome-free-6.1.1-web/" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="stylesheet" href="./reset.css" />
</head>

<body>
  <div class="landing">
    <div class="header">
      <a href="">
        <h3>Web.Dev</h3>
      </a>
      <li>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Testimonial</a>
        <a href="#">Contact</a>
        <a href="#">Signin</a>
      </li>
      <div class="header--Sign-up">
        <a href="btn">Sign up</a>
      </div>
      <div class="header__image">
        <img src="img/Header__image.png" alt="" />
      </div>
    </div>
    <div class="container">
      <div class="container__content">
        <div class="container__content--image-left">
          <a href="">
            <img src="img/Container__Content--image-left.png" alt="" />
          </a>
        </div>
        <div class="container__content--center">
          <div class="container__content--center-title">
            <h1>We Develop <span> Shopify</span> sites</h1>
          </div>
          <div class="container__content--center-comment">
            <p>
              Slingback fabric heels. Thin wraparound ankle strap. <br />
              Squared heel and toe. Pointed toes. Padded insole with <br />
              geometrical design.
            </p>
          </div>
          <div class="container__content--center-button">
            <button type="submit">contact us</button>
            <a href="">Watch Video
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
        </div>
        <div class="container__content--image-right">
          <a href="">
            <img src="img/Container__content--image--right.png" alt="" />
          </a>
        </div>
      </div>
      <div class="container__logo">
        <img src="./img/container__logo.png" alt="" />
        <div class="container__logo--veter">
          <img src="./img/Vector 1.png" alt="" />
        </div>
      </div>
      <div class="container__services">
        <div class="container__services--title">
          <span>What we Do?</span>
          <h2>Our Specialization</h2>
        </div>
        <div class="container__services--cards">
          <div class="container__services--card">
            <img src="img/logo_card1.png" alt="" />
            <h3>Webflow Development</h3>
            <p>
              Really boy law county she unable her <br />
              sister. Feet you off its like like six. <br />
              Among sex are leave law built now. In <br />
              built table in an rapid blush. Merits <br />
              behind on afraid or warmly.
            </p>
            <a href=""> Read More </a>
          </div>
          <div class="container__services--card">
            <img src="img/logo-card2.png" alt="" />
            <h3>Webflow Development</h3>
            <p>
              Really boy law county she unable her <br />
              sister. Feet you off its like like six. <br />
              Among sex are leave law built now. In <br />
              built table in an rapid blush. Merits <br />
              behind on afraid or warmly.
            </p>
            <a href=""> Read More </a>
          </div>
          <div class="container__services--card">
            <img src="img/logo_card3.png" alt="" />
            <h3>Webflow Development</h3>
            <p>
              Really boy law county she unable her <br />
              sister. Feet you off its like like six. <br />
              Among sex are leave law built now. In <br />
              built table in an rapid blush. Merits <br />
              behind on afraid or warmly.
            </p>
            <a href=""> Read More </a>
          </div>
          <div class="container__services--card">
            <img src="img/logo_card4.png" alt="" />
            <h3>Webflow Development</h3>
            <p>
              Really boy law county she unable her <br />
              sister. Feet you off its like like six. <br />
              Among sex are leave law built now. In <br />
              built table in an rapid blush. Merits <br />
              behind on afraid or warmly.
            </p>
            <a href=""> Read More </a>
          </div>
        </div>
        <div class="container__services--add-card">
          <button>
            <a href="">Learn More</a>
          </button>
        </div>
      </div>
      <div class="container__group">
        <div class="container__group--title">
          <a href="">Our Work</a>
          <h1>Our Portfolio</h1>
        </div>
        <div class="container__group--4171">
          <div class="container__group--4171-box1">
            <img src="/img/4171-1.png" alt="" />
            <h2>Fashion Landing page</h2>
            <a href="">View Details</a>
          </div>
          <div class="container__group--4171-box2">
            <img src="/img/4171-2.png" alt="" />
            <h2>Health & Fitness</h2>
            <a href="">View Details</a>
          </div>
          <div class="container__group--4171-box1">
            <img src="/img/4171-3.png" alt="" />
            <h2>Furniture Shop</h2>
            <a href="">View Details</a>
          </div>
          <div class="container__group--4171-box2">
            <img src="/img/4171-4.png" alt="" />
            <h2>IT Solution Provider</h2>
            <a href="">View Details</a>
          </div>
        </div>
        <div class="container__group--button">
          <button>
            <a href="">All Projects</a>
          </button>
        </div>
      </div>
      <div class="container__testimonials">
        <div class="container__testimonial--title">
          <a href="#">Testimonials</a>
          <h2>What Customers Say</h2>
        </div>
        <div class="container__testimonial--box">
          <div class="container__testimonial--box-cards">
            <div class="container__testimonial--box-card">
              <h4>Superb Work!</h4>
              <p>
                “Blessing welcomed ladyship she met <br />
                humoured sir breeding her. Six curiosity <br />
                day assurance bed necessary.”
              </p>
              <img src="./img/box-card.png" alt="" />
              <h3>Sabo Masties</h3>
            </div>
            <div class="container__testimonial--box-card">
              <h4>Superb Work!</h4>
              <p>
                “Blessing welcomed ladyship she met <br />
                humoured sir breeding her. Six curiosity <br />
                day assurance bed necessary.”
              </p>
              <img src="./img/box-card.png" alt="" />
              <h3>Sabo Masties</h3>
            </div>
            <div class="container__testimonial--box-card">
              <h4>Superb Work!</h4>
              <p>
                “Blessing welcomed ladyship she met <br />
                humoured sir breeding her. Six curiosity <br />
                day assurance bed necessary.”
              </p>
              <img src="./img/box-card.png" alt="" />
              <h3>Sabo Masties</h3>
            </div>
          </div>
          <div class="container__testimonial--box-button">
            <a href="">
              <div class="container__testimonial--box-button-icon">
                <i class="fa-solid fa-arrow-left"></i>
              </div>
              <div class="container__testimonial--box-button-icon">
                <i class="fa-solid fa-arrow-right"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="container__pricing">
        <div class="container__pricing--title">
          <a href="">
            <h5>Pricing</h5>
            <h2>Pricing Policy</h2>
          </a>
        </div>
        <div class="container__pricing--groups">
          <div class="container__pricing--group">
            <h3>For Starter</h3>

            <h1>$1499</h1>
            <div class="container__pricing--group-comments">
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Feedback Categorization</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Features prioritization</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Real-time collaboration</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Feedback loop notifications</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Feedback loop notifications</p>
              </div>
            </div>
            <button>
              <a href="#">Request Demo</a>
            </button>
          </div>
          <div class="container__pricing--group">
            <h3>For Teams</h3>

            <h1>$2999</h1>
            <div class="container__pricing--group-comments">
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Feedback Categorization</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Features prioritization</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Real-time collaboration</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Feedback loop notifications</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Feedback loop notifications</p>
              </div>
            </div>
            <button>
              <a href="#">Request Demo</a>
            </button>
          </div>
          <div class="container__pricing--group">
            <h3>For Company</h3>

            <h1>Custom</h1>
            <div class="container__pricing--group-comments">
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Feedback Categorization</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Features prioritization</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Real-time collaboration</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Feedback loop notifications</p>
              </div>
              <div class="container__pricing--group-comment">
                <i class="fa-solid fa-circle-check"></i>
                <p>Feedback loop notifications</p>
              </div>
            </div>
            <button>
              <a href="#">Contact Us</a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>
        Need a little more
        home to grow?
      </p>
      <button>
        <a href="#">Contact Us</a>
      </button>
      <div class="footer__group">
        <div class="footer__group--box1">
          <a href="#">
            <img src="/img/Logo (2).png" alt="">
          </a>
          <h6>
            You’ll find your next home loan
            valu you prefer.
          </h6>
          <div class="footer__group--box1-icon">
            <div class="footer__group--box1-icon1">
              <img src="img/Icon.png" alt="">
            </div>
            <div class="footer__group--box1-icon2">
              <img src="/img/Icon (1).png" alt="">
              <img src="/img/Icon (2).png" alt="">
            </div>
          </div>
        </div>
        <div class="footer__group--box2">
          <h3>Resources</h3>
          <h5>Our Agents</h5>
          <h4>Member Stories</h4>
          <h4>Video</h4>
          <h4>Free trial</h4>
        </div>
        <div class="footer__group--box2">
          <h3>Company</h3>
          <h5>Patnerships</h5>
          <h4>Terms of use</h4>
          <h4>Privacy</h4>
          <h4>Sitemap</h4>
        </div>
        <div class="footer__group--box3">
          <h3>Get in touch</h3>
          <div class="footer__group--box3-email">
            <input type="email" placeholder="Enter your mail">

            <i class="fa-solid fa-circle-right"></i>

          </div>
        </div>
      </div>
      <div class="footer__line"></div>
      <span>Copyright 2021 ©Web.Dev All rights reserved.</span>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="jquery.fittext.js"></script>
  <script>
    jQuery("#responsive_headline").fitText();
    jQuery("#responsive_headline").fitText(1.2); // Turn the compressor up   (resizes more aggressively)
    jQuery("#responsive_headline").fitText(0.8); // Turn the compressor down (resizes less aggressively)
    jQuery("#responsive_headline").fitText(1.2, { minFontSize: '20px', maxFontSize: '40px' });
  </script>
</body>

</html>